{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row row-pb-md">
					<div class="col-md-10 col-md-offset-1">
						<div class="process-wrap">
							<div class="process text-center active">
								<p><span>01</span></p>
								<h3>Shopping Cart</h3>
							</div>
							<div class="process text-center active">
								<p><span>02</span></p>
								<h3>Checkout</h3>
							</div>
							<div class="process text-center">
								<p><span>03</span></p>
								<h3>Order Complete</h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						{{ form.as_p }}
                        {{ u_form.as_p }}
					</div>
					<div class="col-md-5">
						<div class="cart-detail">
							<h2>Cart Total</h2>
							<ul>
								<li>
									<ul>
                                        {% for item in cart_item %}
										<li><span>{{ item.quantity }} x {{ item.product.title }}</span> <span>${{ item.price_sum }}</span></li>
                                        {% endfor %}
									</ul>
								</li>
								<li><span>Shipping</span> <span>$0.00</span></li>
								<li><span>Order Total</span> <span>${{ total }}</span></li>
							</ul>
						</div>
						<div class="cart-detail">
							<h2>Payment Method</h2>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
									   <label><input type="radio" name="optradio">Direct Bank Tranfer</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
									   <label><input type="radio" name="optradio">Check Payment</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="radio">
									   <label><input type="radio" name="optradio">Paypal</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-12">
									<div class="checkbox">
									   <label><input type="checkbox" value="">I have read and accept the terms and conditions</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								 <form action="{% url 'add_order' %}" method="post">
                                    <div class="row form-group">
                                        <div class="col-md-9">
                                            {#                                            <input type="text" name="quantity"#}
                                            {#                                                   class="form-control input-number"#}
                                            {#                                                   placeholder="Your Coupon Number...">#}
                                        </div>
                                        <div class="col-md-3">
                                                {% csrf_token %}
                                                <input type="number"
                                                       name="pk"
                                                       value="{{ cart_id }}"
                                                       hidden>
                                               <p> <button type="submit" class="btn btn-primary">
                                                    Заказать
                                                </button></p>
                                        </div>
                                    </div>
                                </form>
							</div>
						</div>
					</div>
				</div>
{% endblock content %}